@model Mobile_Recharge.Areas.Identity.Data.PlansModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlansModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRoaming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRoaming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serviceProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serviceProvider.ServiceProviderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
