@model IEnumerable<Mobile_Recharge.Areas.Identity.Data.UserPlanHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plans.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plans.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plans.Validity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plans.IsRoaming)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plans.PlanName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plans.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plans.Validity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plans.IsRoaming)
                </td>
        </tr>
}
    </tbody>
</table>
