@{
    //user home page
    ViewData["Title"] = "Home Page";
}
@model Mobile_Recharge.Areas.Identity.Data.UserHomeModel


@{
    if(Model!=null ){
        @if (Model.ActivePlan != null)
        {
            <div class="card mb-5">
                <div class="card-header">
               Active Plan
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.ActivePlan.plans.PlanName</h5>
                <p class="card-text">@Model.ActivePlan.plans.PlanDescription</p>
                <p class="card-text">Ends On :@Model.ActivePlan.StartDate.Add(new TimeSpan(@Model.ActivePlan.plans.Validity*24,0,0))</p>
                <a asp-action="Payment" asp-controller="Home" asp-route-planId=@Model.ActivePlan.plans.PlanId class="btn btn-primary">Continue With This Plan</a>
            </div>
        </div>
        }
        else
        {
            <h3>No Active Plan</h3>
        }

        <button class="btn btn-primary me-3 mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#AvailablePlans" aria-expanded="false" aria-controls="AvailablePlans">
            Available Plans
        </button>




        <div class="row row-cols-3 collapse" id="AvailablePlans">

        @foreach(var plan in Model.PlansForUser)
        {
            <div class="card mt-3 col" style="margin-right:20px ;max-width:330px" >
                <div class="card-header">
                    @plan.PlanName
                </div>
                <div class="card-body">
      
                    <p class="card-text">@plan.PlanDescription</p>
                    <p class="card-text">Validity : @plan.Validity Days</p>
                    <p class="card-text">Data: @plan.Data GB</p>
                    <a asp-action="Payment" asp-controller="Home" asp-route-planId=@plan.PlanId class="btn btn-primary">@plan.Price rs</a>
                </div>
            </div>
                
        }
            </div>
        <button class="btn btn-primary me-3 mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#UserHistory" aria-expanded="false" aria-controls="UserHistory">
            Plan History
        </button>
        <div class="row row-cols-3 collapse " id="UserHistory">

            @if (Model.PlanHistory != null)
            {
                @foreach (var item in Model.PlanHistory)
                {
                    <div class="card mt-3 col" style="margin-right:20px ;max-width:330px">
                        <div class="card-header">
                            @item.plans.PlanName
                        </div>
                        <div class="card-body">
                            <p class="card-text">@item.plans.PlanDescription</p>
                            <p class="card-text">Validity : @item.plans.Validity</p>
                            <p class="card-text">Data: @item.plans.Data GB</p>
                            <p class="card-text">Purchase Date: @item.PurchaseDate </p>
                            <p class="card-text">Start Date: @item.StartDate </p>
                            <p class="card-text">End Date: @item.EndDate </p>
                            <p class="card-text">Price: @item.plans.Price </p>
                            <a asp-action="Payment" asp-controller="Home" asp-route-planId=@item.plans.PlanId class="btn btn-primary">Recharge Again</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5 class="mt-3">You Havent subscribed to any plans..</h5>
            }
        </div>
      
    }


        
    

   }
